# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
chip8/cmake-build-debug-visual-studio
.idea
.idea
gameboy/cmake-build-debug
harucar/cmake-build-debug
gameboy/cmake-build-release
gameboy/.vs
gameboy/bin
gameboy/out
gameboy/builds
harucar/builds
gameboy/test/out
gameboy/CMakeFiles
gameboy/cmake-build-x64_debug
gameboy/gameboy
gameboy/gb_test
gameboy/.DS_Store
*.ini
.DS_Store
gameboy/roms
