# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
chip8/cmake-build-debug-visual-studio
.idea
.idea
gameboy/cmake-build-debug
harucar/cmake-build-debug
gameboy/cmake-build-release
